{% extends 'base.html' %}

<script>
{% block jquery %}
var endpoint = '/api/chart/data/'
var defaultData = []
var labels = [];

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        setChart()
    },
    error: function(error_data){
    	//labels = ["User", "Blue", "Yellow", "Green", "Purple", "Orange"]
        //defaultData = [1, 25, 32, 32, 12, 7]
        //setChart()
        console.log("error")
        console.log(error_data)
    }
})
function setChart(){
    var ctx = document.getElementById('myChart');
    var ctx2 = document.getElementById('myChart2');
    var myChart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '# of Votes',
                data: defaultData,
                backgroundColor:'rgba(255, 99, 132, 0.2)',
                borderColor:'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Medicion',
                data: defaultData,
                backgroundColor:'rgba(255, 99, 132, 0.2)',
                borderColor:'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}
var ctx = document.getElementById('myChart');


{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
        <h1>Que pinche pedo compa mio :)</h1>
        <div class= 'col-sm-6'>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class= 'col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Phone</th>
                </tr>
                    <tr>
                        <td><a class="btn btn-sm btn-info">View</a></td>
                        <td>hola</td>
                        <td>hola2</td>
                    </tr>
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>LAST 5 ORDERS</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block">Create Order</a>
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>                
                    <tr>
                    {% for i in sensordata %}
                        <td>{{i.valor}}</td>
                        <td>date_created</td>
                        <td>order.status</td>
                        <td><a class="btn btn-sm btn-info" >Update</a></td>
                        <td><a class="btn btn-sm btn-danger" >Delete</a></td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>

</div>


{% endblock content %}

